body{
    background-color: var(--clr-primary-light);
    color: var(--clr-primary-dark);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header{
    padding: 1.5rem;
    background-color: var(--clr-primary-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2rem;
    h1 {
        font-size: 2rem;
        color: var(--clr-primary-light);
    }    
    img{
        cursor: pointer;
        width: 2.5rem;
    }
}

main{
    min-height: 83dvh;
    
    .mainContainer{
        input[type="checkbox"]{
            display: none;
        }

        @media(width < 48em){
            #sidebar:checked ~ .sidebar{
                transform: translateX(0);
                transition: 0.4s ease-in-out;
            }

            .sidebar{
                position: fixed;
                transform: translateX(-100%);
                transition: 0.3s ease-out;
                inset: 0 5rem 0 0;
            }
        }

        .sidebar{
            padding-top: 2rem;
            padding-bottom: 1.5rem;
            padding-inline: 1.15rem;
            background-color: var(--clr-secondary-light);
            .defaultContainer{
                padding-block: 0.625rem;
                padding-inline: 1.25rem;
                margin-bottom: 3rem;
                border-radius: 0.3125rem;
                background-color: var(--clr-tertiary-light);
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 1.5rem;
                p{
                    font-size: 1.15rem;
                    font-weight: bold;
                }
            }
            .projectsContainer{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                gap: 0.75rem;
                h2{
                    font-size: 1.75rem;
                }
                .addProjectsContainer{
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    gap: 1rem;
                    padding-block: 0.625rem;
                    padding-inline: 1.25rem;
                    p{
                        font-size: 1.15rem;
                    }
                }
            }
        }
        .subSectionContainer{
            padding: 1.25rem 2.5rem;
            margin: 0 auto;
            .projectTitle{
                font-size: 1.75rem;
                padding-inline: 0.625rem;
                margin-bottom: 0.625rem;
            }
            .addTasksContainer{
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 1rem;
                padding-block: 0.625rem;
                padding-inline: 1.25rem;
                p{
                    font-size: 1.15rem;
                }
            }
        }
    }
}

footer{
    background-color: var(--clr-primary-dark);
    color: var(--clr-primary-light);
    text-align: center;
    padding-block: 0.5rem;
    p{
        font-size: 1.125rem;
    }
}