body{
    background-color: var(--clr-primary-light);
    color: var(--clr-primary-dark);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header{
    padding: 1.5rem;
    background-color: var(--clr-primary-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2rem;
    h1 {
        font-size: 2rem;
        color: var(--clr-primary-light);
    }    
    img{
        cursor: pointer;
        width: 2.5rem;
    }
}

main{
    min-height: 83dvh;

    .mainContainer{
        #sidebar{
            display: none;
        }

        @media(width < 48em){
            #sidebar:checked ~ .sidebar{
                transform: translateX(0);
                transition: 0.4s ease-in-out;
            }

            .sidebar{
                position: fixed;
                transform: translateX(-100%);
                transition: 0.3s ease-out;
                inset: 0 5rem 0 0;
            }
        }

        .sidebar{
            padding-top: 2rem;
            padding-bottom: 1.5rem;
            padding-inline: 1.15rem;
            background-color: var(--clr-secondary-light);
            .defaultContainer{
                background-color: var(--clr-tertiary-light);
                border: none;
                padding-block: 0.625rem;
                padding-left: 2rem;
                padding-right: 3rem;
                margin-bottom: 3rem;
                border-radius: 0.3125rem;
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 1.5rem;
                font-size: 1.15rem;
                font-weight: bold;
            }
            .projectsContainer{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                gap: 0.75rem;
                h2{
                    font-size: 1.75rem;
                }
                .projectsLists{
                    .projectListsUL{
                        padding: 0 1.25rem;
                        .projectContainer{
                            color: var(--clr-secondary-dark);
                            list-style: none;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            gap: 2rem;
                            padding-block: 0.5rem;
                            margin-inline: auto;
                            p{
                                font-size: 1.15rem;
                            }
                            button {
                                cursor: pointer;
                                border: none;
                                background: none;
                                padding: 0;
                                img{
                                    width: 1.5rem;
                                }
                            }
                        }
                    }
                }
                .addProjectsContainer{
                    cursor: pointer;
                    background: none;
                    border: none;
                    color: var(--clr-primary-dark);
                    font-size: 1.15rem;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    gap: 1rem;
                    padding-block: 0.625rem;
                    padding-inline: 1.25rem;
                }
                .addProjectsDialog{
                    background-color: var(--clr-secondary-dark);
                    color: var(--clr-secondary-light);
                    border: 2px solid var(--clr-primary-dark);
                    border-radius: 0.5rem;
                    .addProjectsForm{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: start;
                        gap: 1.5rem;
                        padding-inline: 1.5rem;
                        padding-block: 1rem;
                        h3{
                            font-size: 1.35rem;
                        }
                        .addProjectsInput{
                            border: none;
                            border-radius: 0.25rem;
                            padding-block: 0.25rem;
                            padding-inline: 1rem;
                        }
                        .addProjectDialogButtons{
                            margin-top: 1rem;
                            width: 100%;
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            gap: 2rem;
                            button{
                                cursor: pointer;
                                border: none;
                                border-radius: 0.3rem;
                                min-width: 5rem;
                                padding-block: 0.4rem;
                            }
                        }
                    }
                }
            }
        }
        .subSectionContainer{
            padding: 1.25rem 2.5rem;
            margin: 0 auto;
            .projectTitle{
                font-size: 1.75rem;
                padding-inline: 0.625rem;
                margin-bottom: 0.625rem;
            }
            .projectTasksList{
                .toDoLists{
                    display: grid;
                    justify-items: start;
                    align-content: center;
                    padding-inline: 0;
                    .taskContainer{
                        color: var(--clr-secondary-dark);
                        list-style: none;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        gap: 2rem;
                        padding-block: 0.5rem;
                        button {
                            cursor: pointer;
                            border: none;
                            background: none;
                            padding: 0;
                            img{
                                width: 1.5rem;
                            }
                        }
                    }
                }
            }
            .addTasksContainer{
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 1rem;
                padding: 0.675rem;
                border: none;
                background: none;
                cursor: pointer;
                font-size: 1.15rem;
                color: var(--clr-secondary-dark);
                img{
                    width: 1.75rem;
                }

            }
            :modal {
                background-color: var(--clr-secondary-dark);
                color: var(--clr-secondary-light);
                border: 2px solid var(--clr-primary-dark);
                border-radius: 0.5rem;

                .addTasksForm{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: start;
                    gap: 1.5rem;
                    padding-inline: 1.5rem;
                    padding-block: 1rem;

                    h3{
                        font-size: 1.35rem;
                    }

                    label{
                        display: block;
                        margin-bottom: 0.5rem;
                    }
                    input{
                        border: none;
                        border-radius: 0.25rem;
                        padding-block: 0.25rem;
                        padding-inline: 1rem;
                    }

                    .buttonContainer{
                        margin-top: 1rem;
                        width: 100%;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        gap: 2rem;

                        button{
                            cursor: pointer;
                            border: none;
                            border-radius: 0.3rem;
                            min-width: 5rem;
                            padding-block: 0.4rem;
                        }
                    }
                }
            }
        }
    }
}

footer{
    background-color: var(--clr-primary-dark);
    color: var(--clr-primary-light);
    text-align: center;
    padding-block: 0.5rem;
    p{
        font-size: 1.125rem;
    }
}